
<main>
    <div class="nav-container">
        <a href="/dinosaurs" class="image-container">
            <img class="main-page" src="https://upload.wikimedia.org/wikipedia/en/a/ac/Land_Before_Time_characters.jpg"/>
        </a>
        <a class="img-label" href="/dinosaurs">See the Dinosaurs</a>
    </div>
    <div class="nav-container">
        <a href="/prehistoric-creatures" class="image-container">
            <img class="main-page" src="https://vignette.wikia.nocookie.net/landbeforetime/images/1/1a/Vlcsnap-2017-04-24-10h42m06s281.png"/>
        </a>
        <a class="img-label" href="/prehistoric-creatures">See the Other Prehistoric Creatures</a>
    </div>
</main>