<h2>Prehistoric Creatures</h2>

<form method="GET" action="/prehistoric-creatures">
    <label for="nameFilter">Filter by Name</label>
    <input type="text" id="nameFilter" name="nameFilter">
    <input type="submit">
</form>

<ul>
    <% creatures.forEach(creature =>{ %>
        <li><a href="/prehistoric-creatures/<%=creatures.indexOf(creature)%>">
        <%= creature.type %></a></li>
    <% }) %>
</ul>
<p class="new_button">
    <a href="/prehistoric-creatures/new">Add a new creature!</a>
</p>