<div class="id_container">
    <h2><%= creature.type %></h2>
    <img src="<%= creature.img_url %>"/>
</div>

<p class="new_button">
    <a href="/prehistoric-creatures">Return to Creatures List</a>
</p>