<h2>Dinosaurs</h2>

<form method="GET" action="/dinosaurs">
    <label for="nameFilter">Filter by Name</label>
    <input type="text" id="nameFilter" name="nameFilter">
    <input type="submit">
</form>

<ul>
    <% dinosaurs.forEach((dino,i) =>{ %>
        <li><a href="/dinosaurs/<%= i %>">
            <%= dino.name %> the <%= dino.type %></a>
            <form method="POST" action="/dinosaurs/<%=i %>/?_method=DELETE">
            <input type="submit" value="Delete?">
            </form>
        </li>
    <% }) %>
</ul>
<p class="new_button">
    <a href="/dinosaurs/new">Add a new dinosaur!</a>
</p>