<div class="id_container">
    <h2><%= dino.name %>!</h2>
    <img src="<%= dino.img_url %>"/>
    <%= dino.name %> is a <%= dino.type %>
</div>

<p class="new_button">
    <a href="/dinosaurs">Retrurn to Dinosaurs List</a>
</p>
